_wandb:
    value:
        cli_version: 0.23.1
        e:
            qoch1frzaxyosnf5jxh77caawqir43ue:
                codePath: attention/nanogpt_modified_ffn/train.py
                codePathLocal: train.py
                email: fallenfall0357@gmail.com
                executable: /home/tjh0357/anaconda3/envs/gpt/bin/python
                git:
                    commit: 263a0c0d0596878cf783394dc3c04f3fc00cc540
                    remote: git@github.com:fallenfall0357-test-repository/nu_lab.git
                host: y46
                os: Linux-5.14.0-503.26.1.el9_5.x86_64-x86_64-with-glibc2.34
                program: /home/tjh0357/work/nu_lab/attention/nanogpt_modified_ffn/train.py
                python: CPython 3.12.12
                root: /home/tjh0357/work/nu_lab/attention/nanogpt_modified_ffn
                startedAt: "2025-12-12T09:34:48.326123Z"
                writerId: qoch1frzaxyosnf5jxh77caawqir43ue
        m: []
        python_version: 3.12.12
        t:
            "1":
                - 1
            "2":
                - 1
            "3":
                - 13
                - 16
            "4": 3.12.12
            "5": 0.23.1
            "12": 0.23.1
            "13": linux-x86_64
always_save_checkpoint:
    value: true
backend:
    value: nccl
batch_size:
    value: 12
beta1:
    value: 0.9
beta2:
    value: 0.95
bias:
    value: false
block_size:
    value: 1024
compile:
    value: true
dataset:
    value: openwebtext
decay_lr:
    value: true
device:
    value: cuda
dropout:
    value: 0
dtype:
    value: bfloat16
eval_interval:
    value: 2000
eval_iters:
    value: 200
eval_only:
    value: false
grad_clip:
    value: 1
gradient_accumulation_steps:
    value: 40
init_from:
    value: scratch
learning_rate:
    value: 0.0006
log_interval:
    value: 1
lr_decay_iters:
    value: 600000
max_iters:
    value: 600000
min_lr:
    value: 6e-05
n_embd:
    value: 768
n_head:
    value: 12
n_layer:
    value: 12
out_dir:
    value: out
wandb_log:
    value: true
wandb_project:
    value: no-ffn-gpt2
wandb_run_name:
    value: no-ffn-gpt2_1765532084.7311664
warmup_iters:
    value: 2000
weight_decay:
    value: 0.1
